html {
    scroll-behavior: smooth;
}

.wrapper_center {
    padding: 15vh 0;
}

.dflex-row {
    display: flex;
    flex-direction: row;
}

.dflex-column {
    display: flex;
    flex-direction: column;
}

.form_container {
    box-shadow: 0 0 49px 15px rgba(72, 201, 255, 0.33);
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}


.card-container {
    padding: 35px;
    width: 70%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container button {
    margin-top: 20px;
    padding: 15px 15px;
    border-radius: 8px;
    min-width: 150px;
    background-color: #3DA9D6;
    color: white;
    border: none;
}

.card-container button:focus {
    background-color: #00617e;
    outline: 3px solid #67cdee;
}

.form_desc {
    background: linear-gradient(180deg, #3DA9D6 0%, #97E0FE 100%);
    border-radius: 0 52px 52px 0;
    min-height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.card-container h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

.card-container input {
    max-height: 44px;
    padding-left: 20px;
    margin-top: 20px;
    height: 44px;
    width: 70%;
    box-shadow: 0 0 2px 2px rgba(72, 201, 255, 0.33);
    border-radius: 15px;
    border: none;
    transition: 0.7s;
    outline: none;
}

.card-container input:-webkit-autofill,
.card-container input:-webkit-autofill:hover,
.card-container input:-webkit-autofill:focus,
.card-container input:-webkit-autofill:active,
.modal-body input:-webkit-autofill,
.modal-body input:-webkit-autofill:hover,
.modal-body input:-webkit-autofill:focus,
.modal-body input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #3DA9D6 inset !important;
    -webkit-text-fill-color: white;
}

.card-container span {
    display: block;
    text-align: center;
}

.card-container input:focus {
    box-shadow: 0 0 2px 2px #42ACD8;
}

.errorlist li {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-top: 35px;
    color: #721c24;
    background-color: #f5c6cb;
    border-radius: 15px;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.card-min {
    width: 800px !important;
    margin-top: 35px;
}

.button-list-container {
    margin-top: 20px;
}

.modal-dialog-center {
    width: 995px;
    max-width: 995px;
    max-height: 700px;
    margin-top: 200px;
}

.modal-input {
    display: inline-flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    min-width: 200px;
    width: 200px;
    max-width: 960px;
    height: 45px;
}

.modal-input:focus {
    outline: none;
    border-color: #3cade0;
    box-shadow: 0 0 0 3px rgba(0, 72, 255, 0.25);
}

.modal-textarea {
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    resize: auto;
    height: 300px;
    width: 960px;
    max-width: 960px;
}

.modal-textarea:focus {
    outline: none;
    border-color: #3cade0;
    box-shadow: 0 0 0 3px rgba(0, 72, 255, 0.25);
}

.blk-btn {
    border: none;
    border-radius: 2px;
    background-color: #009EB2;
    color: white;
}

.blk-btn:focus {
    outline: 2px solid white;
}

.btn-mg {
    border: none;
    border-radius: 2px;
    background-color: #009EB2;
    color: white;
    margin-top: 30px;
    float: right;
}

.btn-mg:focus {
    outline: 2px solid #0082FD;
}

.close-outline:focus {
    outline: none;
    border-color: #3cade0;
    box-shadow: 0 0 0 3px rgba(0, 72, 255, 0.25);
}