<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flimn | Заметки{% endblock title %}</title>
</head>

<body>
{% block content %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <button type="button" class="btn-mg" aria-label="scroll-bottom-button" id="scroll_bottom_button">
        <em class="fas fa-arrow-down"></em>
    </button>
    <button type="button" class="btn btn-dark button-list-container" style="float: left; transition: 1s;"
            data-bs-toggle="modal" data-bs-target="#notesModal" id="note-create-state" onclick="click_note_create()">
        Создать заметку
    </button>
    <br/>
    <div class="list-container">
        <div class="modal fade" id="notesModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Создать заметку</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="create-note-form" class="modal-form">
                        <div class="modal-body" id="modal-body">
                            <div class="dflex-column">
                                {% csrf_token %}
                                <input maxlength="255" data-name="Заголовок заметки" class="modal-input"
                                       name="note-title" id="note-title"
                                       placeholder="Заголовок заметки" required/>
                                <textarea data-Fname="Текст заметки" class="modal-textarea" name="note-body"
                                          id="note-body"
                                          placeholder="Текст заметки" required></textarea>
                            </div>
                            <input id="note-edit-state" name="note-edit-state" hidden>
                            <input id="note-id" name="note-id" hidden>
                        </div>
                        <div class="modal-footer">
                            <div class='custom-control custom-checkbox'>
                                <input type="checkbox" class="form-check-input" id="customCheck1"/>
                                <label class="form-check-label" for="customCheck1">Разрешить пустыми</label>
                            </div>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary" id="save-note-button">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if notes|length != 0 %}
            {% for note in notes %}
                <div class="card card text-white bg-info mb-3 card-min" style="transition: 1s;">
                    <div class="card-header">
                        <span class="font-weight-bold">{{ note.title }}</span>
                        &middot;
                        {{ note.date }}
                        {% if user.pk == note.author.pk %}
                            <div style="float:right;">
                                <button type="button" class="blk-btn note-edit" aria-label="note-edit" id="note-edit"
                                        data-bs-toggle="modal"
                                        data-bs-target="#notesModal"
                                        onclick="click_note_edit({{ note.id }}, '{{ note.title }}', '{{ note.body }}')">
                                    <em class="fas fa-edit"></em>
                                </button>
                                <button type="button" class="blk-btn note-delete" aria-label="note-delete"
                                        id="note-delete"
                                        data-bs-toggle="modal"
                                         data-bs-target="#notesModal"
                                        onclick="click_note_delete({{ note.id }}, '{{ note.title }}', '{{ note.body }}')">
                                    <em class="fas fa-trash-alt"></em>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p>{{ note.body }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Заметок пока не создано:(</p>
        {% endif %}
    </div>
    <br/>
    <button type="button" class="btn btn-dark button-list-container" style="float: left; margin-top: 15px;"
            data-bs-toggle="modal" data-bs-target="#notesModal">
        Создать заметку
    </button>
    <button type="button" class="btn-mg" aria-label="scroll-bottom-top" style="margin-bottom: 40px; margin-top: 15px;"
            id="scroll_top_button">
        <em class="fas fa-arrow-up"></em>
    </button>
    <script type="text/javascript">
        $("#all-notes").append('<span class="badge bg-light text-dark" style="transition: 1s;">{{ notes|length }}</span>');
        $(".toggle-mode").click(function () {
            console.log("clpc");
            if ($("body").css("background-color") === "rgb(52, 58, 64)") {
                console.log("light");
                localStorage.setItem("theme", "light");
            }
            else {
                console.log("dark");
                localStorage.setItem("theme", "dark");
            }
            check_page_theme();
        })
        check_page_theme();
    </script>
    <script type="text/javascript" src="{% static 'js/notes.js' %}"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
{% endblock content %}
</body>

</html>